<style>
h2{
  background-color:#EF5AEF
   text-align:center 
}

.from{
  background-color:#6E39D0
  text-align:left} 

.to{
  background-color:#D039B7
  text-align:left
}
.body{
  background-color:#EEBBD8
  text-align:center
}
</style>
